<div id="progressBars" class="progressBars">
    <%  if(page === "stats")
        { %>
            <% for(let goal of goalList)
            {%>
                <div id="Progress" style="font-size:large">
                    <span><%= goal.name %>: <%= goal.currentPoint %> <%= goal.units %></span> <span style="float:right;margin-right:10%">Goal:<%= goal.endPoint %> <%= goal.units %></span>
                    <div class="progressBorder">
                        <div class="progressInner" style="height:24px;max-width:100%;width:<%= Math.round((goal.currentPoint/goal.endPoint)*100) %>%"></div>
                    </div>
                    <br>
                    <span id="progressValue"><%= Math.round((goal.currentPoint/goal.endPoint)*100) %>%</span> <br> <br>
                </div>
            <%}
            %>
        <%}
        else if(page === "home")
        { %>
            <% for(var i=0; i < amount;i++)
            {%>
                <div id="Progress" style="font-size:large">
                    <span><%= goalList[i].name %>: <%= goalList[i].currentPoint %> <%= goalList[i].units %></span> <span style="float:right;margin-right:10%">Goal:<%= goalList[i].endPoint %> <%= goalList[i].units %></span>
                    <div class="progressBorder">
                        <div class="progressInner" style="height:24px;max-width:100%;width:<%= Math.round((goalList[i].currentPoint/goalList[i].endPoint)*100) %>%"></div>
                    </div>
                    <br>
                    <span id="progressValue"><%= Math.round((goalList[i].currentPoint/goalList[i].endPoint)*100) %>%</span> <br> <br>
                </div>
            <%}
            %>
        <%}
    %>
</div>