<div id="progressBars" class="progressBars">
    <% for(let goal of goalList)
    {%>
        <div id="Progress">
            <span><%= goal.name %>: <%= goal.currentPoint %><%= goal.units %></span> <span style="float:right;margin-right:10%">Goal:<%= goal.endPoint %><%= goal.units %></span>
            <div class="progressBorder">
                <div class="progressInner" style="height:24px;max-width:100%;width:<%= Math.round((goal.currentPoint/goal.endPoint)*100) %>%"></div>
            </div>
            <br>
            <span id="progressValue"><%= Math.round((goal.currentPoint/goal.endPoint)*100) %>%</span> <br> <br>
        </div>
    <%}
    %>
</div>