<!DOCTYPE html>
<html lang="en"> 
<header>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=., initial-scale=1.0">
    <link rel="stylesheet" href="/Css/styles.css">
    <title>Current Stats</title>
</header>
<body>
<div class="pageContainer">
    <div class="content">
        <%- include("Partials/headerBar.ejs",{}) -%>
        <br>
        <div class="leftContent">
            <div id = "Progress" class="container">
                <div id="ProgressHeader" class="headerBar progressHeader">
                    Progress towards your goals
                </div>
                <div id="ProgressContent">
                    <%- include("Partials/progressContentForm.ejs",{}) -%>
                </div>
            </div>
        </div>
        <div class="rightContent">
            <div id = "Goals" class="container"  >
                <div id="GoalsHeader" class="headerBar progressHeader">
                    Current Goals
                </div>
                <div id="GoalsContent" style="padding:2.5%">
                    <%- include("Partials/goalsContentForm.ejs",{}) -%>
                </div>
                <button id="EditGoalsBtn" class="btn btn-primary statsAndGoalsButton">Edit Goals</button>
            </div>
        </div>
        <br>
        <div class="rightContent">
            <div id = "Stats" class="container">
                <div id="StatsHeader" class="headerBar progressHeader">
                    Current Stats
                </div>
                <%- include("Partials/statsContentForm.ejs",{}) -%>
            </div>
        </div>
    </div>
    <div class="footer">
        <%- include("Layouts/footer") -%>
    </div>
</div>