<!DOCTYPE html>
<html lang="en"> 
<header>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=., initial-scale=1.0">
    <link rel="stylesheet" href="/Css/styles.css">
    <title>Current Stats</title>
</header>
<body>
    <%- include("Partials/headerBar.ejs",{}) -%>
    <br>
    <div id = "Progress">
        <div id="ProgressHeader">
            Progress towards your goals
        </div>
        <div id="ProgressContent">
            <%- include("Partials/progressContentForm.ejs",{}) -%>
        </div>
    </div>
    <div id = "Goals">
        <div id="GoalsHeader">
            Current Goals
        </div>
        <div id="GoalsContent">
            <%- include("Partials/goalsContentForm.ejs",{}) -%>
        </div>
    </div>
    <button id="EditGoalsBtn">Edit Goals</button> <br> <br>
    <div id = "Stats">
        <div id="StatsHeader">
            Current Stats
        </div>
        <div id="StatsContent">
            <%- include("Partials/statsContentForm.ejs",{}) -%>
        </div>
    </div>
    <button id="EditStatsBtn">Edit Stats</button>
<%- include("Layouts/footer") -%>