<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/Css/styles.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <title>Home</title>
</head>

<body>  
    <div class="pageContainer">
        <div class="content">
            <%- include("Partials/headerBar.ejs",{}) -%>
            <br>

            <div class="ProgressContentBox">
                <div class="headerBar progressHeader">
                    Progress
                </div>

                <div id="Context">
                    <%- include("Partials/progressContentForm.ejs",{}) -%>
                </div>
                
                <br>
                <br>
            </div>
            
            <div class="ActivityContentBox">
                <div class="headerBar progressHeader">                
                    Today's Activity
                </div>
                <div class="Checklist"style="margin-top: 20px;">
                    <%if(todaysActiv != null){
                        if(todaysActiv.activityType == null || todaysActiv.activityType == "no"){%>
                            <label for="todaysActiv">Please go to the log page to select the type!</label>
                        <%} else {%>
                            <input type="hidden" name="HiddenActivityId" value=<%=todaysActiv._id%>>
                            <select>
                                <option><%= todaysActiv.activityName %></option>
                            </select>
                            <%if(todaysDetails != null){
                                for(let detail of todaysDetails){
                                    if(todaysActiv.activityType == "SetsAndDistance"){%>
                                        <input type="text" name="Distance" id="Distance" value=<%=detail.distance %>>
                                        <select name="Units" id="Units">
                                            <option value=<%= detail.units%>><%= detail.units%></option>
                                        </select>
                                    <%} else if(todaysActiv.activityType == "SetsAndReps"){%>
                                        <input type="text" name="Reps" id="Reps" value= <%=detail.reps %>>
                                        <input type="text" name="Weight" id="Weight" value= <%=detail.weight %>>
                                        <select name="Units" id="Units">
                                            <option value=<%= detail.units%>><%= detail.units%></option>
                                        </select>
                                    <%} else if(todaysActiv.activityType == "TimeAndDistance"){ %>
                                        <input type="number" name="Min" id="Min" step="0.01" value=<%= parseInt(detail.timeInSeconds / 60) %> >
                                        <input type="number" name ="Seconds" id="Seconds" step="0.01" value=<%= Number(detail.timeInSeconds % 60) %>>
                                        <br>
                                        <input type="text" name="Distance" id="Distance" value=<%=detail.distance %>>
                                        <select name="Units" id="Units">
                                            <option value=<%= detail.units%>><%= detail.units%></option>
                                        </select>
                                    <%} else if(todaysActiv.activityType == "SetsAndTime"){ %>
                                        <input type="number" name="Min" id="Min" step="0.01" value=<%= parseInt(detail.timeInSeconds / 60) %>>
                                        <input type="number" name ="Seconds" id="Seconds" step="0.01" value=<%= Number(detail.timeInSeconds % 60) %>>
                                    <%}
                                }
                            } else {%>
                                <p>Nothin</p>
                            <%}
                        }
                    } else {%>
                        <label for="todaysActiv">No activites for Today</label> <br>
                    <%}%>
                    <form action="logActivity" method ="post">
                        <input type="hidden" name="SelectedDate" value=<%=theDate%>>
                        <button class="btn">Edit</button>
                    </form>
                </div>            
            </div>

            <div class="CurrentContentBox">
                <div class="headerBar progressHeader">
                    Current Stats
                </div>
                
                <div class="ProgressContent">
                    <div class="Content1">
                        <%- include("Partials/statsContentForm.ejs",{}) -%>
                    </div>
                </div>
            </div>
            
            <div class="CalendarContentBox">
                    <div id="Calendar" class="calender">
                        <div class="month">
                            <i class="fas fa-angle-left prev"></i>
                            <div class="date">
                                <h1 id="Month"></h1>
                                <h2 id="Year" style="font-size: large; font-weight: 300;"></h2>
                            </div>
                            <i class="fas fa-angle-right next"></i>
                        </div>
                        <div class="weekdays">
                            <div>Sun</div>
                            <div>Mon</div>
                            <div>Tue</div>
                            <div>Wed</div>
                            <div>Thu</div>
                            <div>Fri</div>
                            <div>Sat</div>
                        </div>
                        <div class="days"></div>
                    </div>
                    <form action="logActivity" method="post" id="LogActivity">
                        <div style="text-align: center;">
                            <input type="date" name="SelectedDate" id="SelectedDate" onchange="this.form.submit()">
                        </div>
                    </form>
            </div>

            <div class="content2">
                <div class="SuggestionContentBox">
                    <div class="headerBar progressHeader">
                        Try These!
                    </div>
                    <div id="TryBody" style="margin-left:1%">
                        <%- include("Partials/tryThese.ejs",activsList) -%>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/calender.js"></script>
</body>
</html>