<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/Css/styles.css">
    <title>Home</title>
</head>

<body>  
    <div class="pageContainer">
        <div class="content">
            <%- include("Partials/headerBar.ejs",{}) -%>
            <br>

            <div class="ProgressContentBox">
                <div class="headerBar progressHeader">
                    Progress
                </div>

                <div id="Context">
                    <%- include("Partials/progressContentForm.ejs",{}) -%>
                </div>
                
                <br>
                <br>
            </div>
            
            <div class="ActivityContentBox">
                <div class="headerBar progressHeader">                
                    Today's Activity
                </div>
                <div class="Checklist"style="margin-top: 20px;">
                    <%if(todaysActiv != null){
                        if(todaysActiv.activityType == null || todaysActiv.activityType == "no"){%>
                            <label for="todaysActiv">Please go to the log page to select the type!</label>
                        <%} else {%>
                            <input type="hidden" name="HiddenActivityId" value=<%=todaysActiv._id%>>
                            <select>
                                <option><%= todaysActiv.activityName %></option>
                            </select>
                            <%if(todaysDetails != null){
                                for(let detail of todaysDetails){
                                    if(todaysActiv.activityType == "SetsAndDistance"){%>
                                        <input type="text" name="Distance" id="Distance" value=<%=detail.distance %>>
                                        <select name="Units" id="Units">
                                            <option value=<%= detail.units%>><%= detail.units%></option>
                                        </select>
                                    <%} else if(todaysActiv.activityType == "SetsAndReps"){%>
                                        <input type="text" name="Reps" id="Reps" value= <%=detail.reps %>>
                                        <input type="text" name="Weight" id="Weight" value= <%=detail.weight %>>
                                        <select name="Units" id="Units">
                                            <option value=<%= detail.units%>><%= detail.units%></option>
                                        </select>
                                    <%} else if(todaysActiv.activityType == "TimeAndDistance"){ %>
                                        <input type="number" name="Min" id="Min" step="0.01" value=<%= parseInt(detail.timeInSeconds / 60) %> >
                                        <input type="number" name ="Seconds" id="Seconds" step="0.01" value=<%= Number(detail.timeInSeconds % 60) %>>
                                        <br>
                                        <input type="text" name="Distance" id="Distance" value=<%=detail.distance %>>
                                        <select name="Units" id="Units">
                                            <option value=<%= detail.units%>><%= detail.units%></option>
                                        </select>
                                    <%} else if(todaysActiv.activityType == "SetsAndTime"){ %>
                                        <input type="number" name="Min" id="Min" step="0.01" value=<%= parseInt(detail.timeInSeconds / 60) %>>
                                        <input type="number" name ="Seconds" id="Seconds" step="0.01" value=<%= Number(detail.timeInSeconds % 60) %>>
                                    <%}
                                }
                            } else {%>
                                <p>Nothin</p>
                            <%}
                        }
                    } else {%>
                        <label for="todaysActiv">No activites for Today</label> <br>
                    <%}%>
                    <form action="logActivity" method ="post">
                        <input type="hidden" name="SelectedDate" value=<%=theDate%>>
                        <button class="btn">Edit</button>
                    </form>
                </div>            
            </div>

            <div class="CurrentContentBox">
                <div class="headerBar progressHeader">
                    Current Stats
                </div>
                
                <div class="ProgressContent">
                    <div class="Content1">
                        <%- include("Partials/statsContentForm.ejs",{}) -%>
                    </div>
                </div>
            </div>
            
            <div class="CalendarContentBox">
                <div class="CalendarHeader">
                    December 2021
                </div>

                <div class="CalendarContext"> 
                    <div id="Calendar">
                        
                        <table>
                            <tr class="WeekDays">
                                <th>Sun</th>
                                <th>Mon</th>
                                <th>Tues</th>
                                <th>Wed</th>
                                <th>Thur</th>
                                <th>Fri</th>
                                <th>Sat</th>
                            </tr>

                            <tr class="Days">
                                <th class="PrevMonthDays">
                                    <div class="Date">
                                        <form name = "Calendar" action="logActivity" method="post">
                                            <input type="hidden" name="SelectedDate" value="2021-11-28">
                                        <span onclick="Calendar.submit()" class="clickableSpan">28</span>
                                        </form>
                                    </div>
                                </th>
                                <th class="PrevMonthDays">
                                    <div class="Date">
                                    <form name = "Calendar2" action="logActivity" method="post">
                                        <input type="hidden" name="SelectedDate" value="2021-11-29">
                                    <span onclick="Calendar2.submit()" class="clickableSpan">29</span>
                                    </form>
                                    </div>
                                </th>
                                <th class="PrevMonthDays">
                                    <div class="Date">
                                    <form name = "Calendar3" action="logActivity" method="post">
                                        <input type="hidden" name="SelectedDate" value="2021-11-30">
                                    <span onclick="Calendar3.submit()" class="clickableSpan">30</span>
                                    </form>
                                    </div>
                                </th>
                                <th class="NumDays">
                                    <div class="Date" onclick="">1</div>
                                </th>
                                <th class="NumDays">
                                    <div class="date">2</div>    					
                                </th>
                                <th class="NumDays">
                                    <div class="date">3</div>    					
                                </th>
                                <th class="NumDays">
                                    <div class="date">
                                    <form name = "Calendar4" action="logActivity" method="post">
                                        <input type="hidden" name="SelectedDate" value="2021-12-4">
                                    <span onclick="Calendar4.submit()" class="clickableSpan">4</span>
                                    </form>
                                    </div>    					
                                </th>
                            </tr>

                            <tr class="Days">
                                <th class="NumDays">
                                    <div class="date">5</div>    					
                                </th>
                                <th class="NumDays">
                                    <div class="date">6</div>    					
                                </th>
                                <th class="NumDays">
                                    <div class="date">7</div>    					
                                </th>
                                <th class="NumDays">
                                    <div class="date">8</div>    					
                                </th>
                                <th class="NumDays">
                                    <div class="date">9</div>    					
                                </th>
                                <th class="NumDays">
                                    <div class="date">10</div>    					
                                </th>
                                <th class="NumDays">
                                    <div class="date">11</div>  					
                                </th>
                            </tr>
    
                            <tr class="Days">
                                <th class="NumDays">
                                    <div class="date">12</div>    					
                                </th>
                                <th class="NumDays">
                                    <div class="date">13</div>    					
                                </th>
                                <th class="NumDays">
                                    <div class="date">14</div>    					
                                </th>
                                <th class="NumDays">
                                    <div class="date">15</div>    					
                                </th>
                                <th class="NumDays">
                                    <div class="date">16</div>    					
                                </th>
                                <th class="NumDays">
                                    <div class="date">17</div>    					
                                </th>
                                <th class="NumDays">
                                    <div class="date">18</div>    					
                                </th>
                            </tr>
    
                            <tr class="Days">
                                <th class="NumDays">
                                    <div class="date">19</div>    					
                                </th>
                                <th class="NumDays">
                                    <div class="date">20</div>    					
                                </th>
                                <th class="NumDays">
                                    <div class="date">21</div>    					
                                </th>
                                <th class="NumDays">
                                    <div class="date">22</div>    					
                                </th>
                                <th class="NumDays">
                                    <div class="date">23</div>    					
                                </th>
                                <th class="NumDays">
                                    <div class="date">24</div>    					
                                </th>
                                <th class="NumDays">
                                    <div class="date">25</div>    					
                                </th>
                            </tr>
    
                            <tr class="Days">
                                <th class="NumDays">
                                    <div class="date">26</div>    					
                                </th>
                                <th class="NumDays">
                                    <div class="date">27</div>    					
                                </th>
                                <th class="NumDays">
                                    <div class="date">28</div>    					
                                </th>
                                <th class="NumDays">
                                    <div class="date">29</div>    					
                                </th>
                                <th class="NumDays">
                                    <div class="date">30</div>    					
                                </th>
                                <th class="NumDays">
                                    <div class="date">31</div>    					
                                </th>
                                <th class="NextMonthDays">
                                    <div class="date">1</div>    					
                                </th>
                            </tr>
                        </table>
                        <form action="logActivity" method="post">
                            <label for="date">Select a Date from above or, use this input!</label>
                            <input type="date" name="SelectedDate" onchange="this.form.submit()">
                        </form>
                    </div>
                </div>
            </div>

            <div class="content2">
                <div class="SuggestionContentBox">
                    <div class="headerBar progressHeader">
                        Try These!
                    </div>
                    <div id="TryBody" style="margin-left:1%">
                        <%- include("Partials/tryThese.ejs",activsList) -%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>