<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=., initial-scale=1.0">
    <link rel="stylesheet" href="/Css/styles.css">
    <title>Log Activity</title>
</head>
<body>
    <%- include("Partials/headerBar.ejs",{}) -%>
    <div id="TodaysLog" class="container centerContainer">
        <div id="TodaysLogHeader" class="headerBar">
            <p>Activites for <%= date %>
                <button class="btn navBtn">Find New Activities!</button>
            </p>
        </div>
        <div id="TodaysLogContent" ></div>
        <table class="centerContainer">
            <% for (let activity of loggedActivsList) { %>
                <tr>
                        <td>
                            <div id="ActivityType">
                                <%if(activity.activityType == null){%>
                                    <%- include("Partials/selectActivityForm.ejs", activsList) -%>
                                </td>
                                <%} else { %>
                                <!--Forms done with ejs partials-->
                                <select>
                                    <option><%= activity.activityName %></option>
                                </select>
                            </div>
                        </td>
                        <td>    
                            <div id="ActivityDetails">
                                <%if(activity.activityType == "SetsAndReps") {%>
                                    <div id="SetTable">
                                        <% for (let detail of activDetailList ) { 
                                            if(activity._id == detail.activityId) {
                                            %> <form action="" method="post"> <%
                                                if(detail.reps == "" || detail.reps == null || detail.reps == 0) {%>
                                                    <input type="text" name="Reps" id="Reps" placeholder= "reps">
                                                    <input type="text" name="Weight" id="Weight" placeholder= "weight">
                                                    <input type="text" name="Units" id="Units" placeholder= "units">
                                                    <br>
                                                <%} else { %>
                                                    <input type="text" name="Reps" id="Reps" value= <%=detail.reps %>>
                                                    <input type="text" name="Weight" id="Weight" value= <%=detail.weight %>>
                                                    <input type="text" name="Units" id="Units" value= <%=detail.units %>>
                                                    <br> 
                                                <%}
                                            %> </form> <%
                                            } else { %>
                                                <p> <%= activity._id %> </p>
                                            <%}
                                        }%>
                                    </div>
                                <% } else {%>
                                    <%- include("Partials/timeDistanceBasedForm.ejs",activity, activDetailList) -%>
                                <% } %>
                            </div>
                        </td>
                        <%}%>
                </tr>
            <%}%>
            <tr>
                <td>
                    <%- include("Partials/selectActivityForm.ejs", activsList) -%>
                    <form action="addAnotherActivity" method="post">
                        <input type="hidden" name="CurrLogsId" value=<%= logsId %>>
                        <button class="btn">Add Another Activity</button>
                    </form>
                    <button class="btn">Save</button>
                </td>
            </tr>
        </table>
    </div>
    <div id="TryThese" class="container centerContainer">
        <div id="TryHeader" class="headerBar">
            <p>Based on what others are doing, try these!</p>
        </div>
        <div id="TryBody">
            <%- include("Partials/tryThese.ejs",activsList) -%>
        </div>
    </div>
<%- include("Layouts/footer") -%>