<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=., initial-scale=1.0">
    <link rel="stylesheet" href="/Css/styles.css">
    <title>Log Activity</title>
</head>
<body>
    <%- include("Partials/headerBar.ejs",{}) -%>
    <div id="TodaysLog" class="container centerContainer">
        <div id="TodaysLogHeader" class="headerBar">
            <p>Activites for <%= date %>
                <button class="btn navBtn">Find New Activities!</button>
            </p>
        </div>
        <table class="centerContainer">
            <% for (let activity of loggedActivsList) { %>
                <tr>
                    <div id="TodaysLogContent" >
                        <td>
                            <div id="ActivityType">
                                <!--Forms done with ejs partials-->
                                <select>
                                    <option><%= activity.activityName %></option>
                                </select>
                                
                               
                            </div>
                        </td>
                        <td>    
                            <div id="ActivityDetails">
                                <%if(activity.activityType == "SetsAndReps") {%>
                                    <%- include("Partials/setTable.ejs", activity, activDetailList) %>
                                <% } else {%>
                                    <%- include("Partials/timeDistanceBasedForm.ejs",activity, activDetailList) -%>
                                <% } %>
                            </div>
                        </td>
                    </div>
                </tr>
            <%}%>
            <tr>
                <td>
                    <%- include("Partials/selectActivityForm.ejs", activsList) -%>
                    <form action="addAnotherActivity" method="post">
                        <input type="hidden" name="CurrLogsId" value=<%= logsId %>>
                        <button class="btn">Add Another Activity</button>
                    </form>
                    <button class="btn">Save</button>
                </td>
            </tr>
        </table>
    </div>
    <div id="TryThese" class="container centerContainer">
        <div id="TryHeader" class="headerBar">
            <p>Based on what others are doing, try these!</p>
        </div>
        <div id="TryBody">
            <%- include("Partials/tryThese.ejs",activsList) -%>
        </div>
    </div>
<%- include("Layouts/footer") -%>