<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=., initial-scale=1.0">
    <link rel="stylesheet" href="/Css/styles.css">
    <title>Log Activity</title>
</head>
<body>
    <%- include("Partials/headerBar.ejs",{}) -%>
    <div id="TodaysLog" class="container">
        <div id="TodaysLogHeader" class="headerBar" style="padding: 0.002em;" >
            <p>Activites for <%= date %>
                <button class="btn navBtn">Find New Activities!</button>
            </p>
        </div>
        <div id="TodaysLogContent" >
            <div id="ActivityType">
                <!--Forms done with ejs partials-->
                <%- include("Partials/selectActivityForm.ejs",{}) -%>
                <%- include("Partials/timeDistanceBasedForm.ejs",{}) -%>
                <%- include("Partials/weightBasedForm.ejs",{}) -%>
                <button class="btn">Add Another Activity</button>
                <button class="btn">Save</button>
            </div>
        </div>
    </div>
    <div id="TryThese">
        <div id="TryHeader">
            <p>Based on what others are doing, try these!</p>
        </div>
        <div id="TryBody">
            <%- include("Partials/tryThese.ejs",{}) -%>
        </div>
    </div>
<%- include("Layouts/footer") -%>