<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=., initial-scale=1.0">
    <link rel="stylesheet" href="/Css/styles.css">
    <title>Log Activity</title>
</head>
<body>
<%- include("Partials/headerBar.ejs",{}) -%>
<div id="TodaysLog" class="container centerContainer">
    <div id="TodaysLogHeader" class="headerBar">
        <p>Activites for <%= date %>
            <button class="btn navBtn">Find New Activities!</button>
        </p>
    </div>
    <div id="TodaysLogContent" ></div>
    <table class="centerContainer">
    <% for (let activity of loggedActivsList) { %>
        <tr>
            <td>
                <div id="ActivityType">
                    <%if(activity.activityType == null){%>
                        <form action="selectActivity" method = "post">
                            <input type="hidden" name="HiddenActivityId" value=<%=activity._id%>>
                            <input type="hidden" name="DateForLog" id="DateForLog" value=<%= date%>>
                            <select name="Activity" id="SelectActivityDropDown" onchange="this.form.submit()">
                                <option value="default">Select Activity</option>
                                <option value="newActivity">Add a new Activity</option>
                                <% for (let item of activsList) { %>
                                    <option value='<%=item.activityName%>'><%=item.activityName%></option>
                                <%}%>
                            </select>
                        </form>
                        <form action="removeActivity" method="post">
                            <input type="hidden" name="ActivityToRemove" value=<%=activity._id%>>
                            <input type="hidden" name="DateForLog" id="DateForLog" value=<%= date%>>
                            <input type="submit" value="Remove Activity" class ="btn">
                        </form>
                    </td>
                    <%} else if(activity.activityType == "no"){%>
                        <form action="editNewActivity" method="post">
                            <select name="newActivityType" id="newActivityType">
                                <option value="SetsAndReps">Set and Reps</option>
                                <option value="TimeAndDistance">Time and Distance</option>
                                <option value="SetsAndTime">Set and Time</option>
                                <option value="SetsAndDistance">Set and Distance</option>
                            </select>
                            <input type="text" name="newActivityName" id="newActivityName" placeholder="name">
                            <input type="hidden" name="newActivityId" value=<%=activity._id%>>
                            <input type="hidden" name="DateForLog" id="DateForLog" value=<%= date%>>
                            <input type="submit" value="Save To The Database" class ="btn">
                        </form>
                    </td>
                    <%} else { %>
                    <input type="hidden" name="HiddenActivityId" value=<%=activity._id%>>
                    <select>
                        <option><%= activity.activityName %></option>
                    </select>
                </div>
            </td>
            <td>    
                <div id="ActivityDetails">
                    <%if(activity.activityType == "SetsAndReps") {%>
                        <div id="SetTable">
                            <% for (let detail of activDetailList ) { 
                                if(activity._id == detail.activityId) {
                                %> <form action="editActivityDetails" method="post"> <%
                                    if(detail.reps == "" || detail.reps == null || detail.reps == 0) {%>
                                        <input type="text" name="Reps" id="Reps" placeholder= "reps">
                                        <input type="text" name="Weight" id="Weight" placeholder= "weight">
                                        <select name="Units" id="Units">
                                            <option value="Default">Units</option>
                                            <option value="Pounds">Pounds</option>
                                            <option value="Kilograms">Kilograms</option>
                                        </select>
                                    <%} else { %>
                                        <input type="text" name="Reps" id="Reps" value= <%=detail.reps %>>
                                        <input type="text" name="Weight" id="Weight" value= <%=detail.weight %>>
                                        <select name="Units" id="Units">
                                            <option value=<%= detail.units%>><%= detail.units%></option>
                                            <option value="Pounds">Pounds</option>
                                            <option value="Kilograms">Kilograms</option>
                                        </select>
                                    <%} %>
                                    <input type="hidden" name="detailId" value=<%=detail._id %>>
                                    <input type="submit" value="Save Set" class="btn">
                                    <input type="hidden" name="DateForLog" id="DateForLog" value=<%= date%>>
                                %> </form> <%
                                }
                            }%>
                        </div>
                    <% } else if(activity.activityType == "TimeAndDistance"){%>
                        <% for (let detail of activDetailList ) { 
                            if(activity._id == detail.activityId) { 
                            %><form action="editActivityDetails" method="post"><%
                                if(detail.timeInSeconds == null) {%>
                                    <input type="number" name="Min" id="Min" placeholder="Min">
                                    <input type="number" name ="Seconds" id="Seconds" placeholder="Seconds">
                                    <br>
                                    <input type="number" name="Distance" id="Distance" placeholder="Distance">
                                    <select name="Units" id="Units">
                                        <option value="Meters">Meters</option>
                                        <option value="Kilometers">Kilometers</option>
                                        <option value="Yards">Yards</option>
                                        <option value="Miles">Miles</option>
                                    </select>
                                <%} else { %>
                                    <input type="number" name="Min" id="Min" value=<%= parseInt(detail.timeInSeconds / 60) %>>
                                    <input type="number" name ="Seconds" id="Seconds" value=<%= parseInt(detail.timeInSeconds % 60) %>>
                                    <br>
                                    <input type="text" name="Distance" id="Distance" value=<%=detail.distance %>>
                                    <select name="Units" id="Units">
                                        <option value=<%= detail.units%>><%= detail.units%></option>
                                        <option value="Meters">Meters</option>
                                        <option value="Kilometers">Kilometers</option>
                                        <option value="Yards">Yards</option>
                                        <option value="Miles">Miles</option>
                                    </select>
                                <%}%>
                                <input type="hidden" name="detailId" value=<%=detail._id %>>
                                <input type="submit" value="Save Activity" class="btn">
                                <input type="hidden" name="DateForLog" id="DateForLog" value=<%= date%>>
                            </form> <%
                            }
                        } %>
                    <%} else if(activity.activityType == "SetsAndTime") { %>
                        <% for (let detail of activDetailList ) { 
                            if(activity._id == detail.activityId) { 
                            %><form action="editActivityDetails" method="post"><%
                                if(detail.timeInSeconds == null) {%>
                                    <input type="number" name="Min" id="Min" placeholder="Minutes">
                                    <input type="number" name ="Seconds" id="Seconds" placeholder="Seconds">
                                <%} else { %>
                                    <input type="number" name="Min" id="Min" value=<%= parseInt(detail.timeInSeconds / 60) %>>
                                    <input type="number" name ="Seconds" id="Seconds" value=<%= parseInt(detail.timeInSeconds % 60) %>>
                                <%}%>
                                <input type="hidden" name="detailId" value=<%=detail._id %>>
                                <input type="submit" value="Save Set" class="btn">
                                <input type="hidden" name="DateForLog" id="DateForLog" value=<%= date%>>
                            </form> <%
                            }
                        } %>
                    <%} else if(activity.activityType == "SetsAndDistance"){%>
                        <% for (let detail of activDetailList ) { 
                            if(activity._id == detail.activityId) { 
                            %><form action="editActivityDetails" method="post"><%
                                if(detail.distance == null) {%>
                                    <input type="number" name="Distance" id="Distance" placeholder="Distance">
                                    <select name="Units" id="Units">
                                        <option value="Meters">Meters</option>
                                        <option value="Kilometers">Kilometers</option>
                                        <option value="Yards">Yards</option>
                                        <option value="Miles">Miles</option>
                                    </select>
                                <%} else { %>
                                    <input type="text" name="Distance" id="Distance" value=<%=detail.distance %>>
                                    <select name="Units" id="Units">
                                        <option value=<%= detail.units%>><%= detail.units%></option>
                                        <option value="Meters">Meters</option>
                                        <option value="Kilometers">Kilometers</option>
                                        <option value="Yards">Yards</option>
                                        <option value="Miles">Miles</option>
                                    </select>
                                <%}%>
                                <input type="hidden" name="detailId" value=<%=detail._id %>>
                                <input type="submit" value="Save Set" class="btn">
                                <input type="hidden" name="DateForLog" id="DateForLog" value=<%= date%>>
                            </form> <%
                            }
                        } %>
                    <%}else { %>
                        <p>We're sorry! There was a type mismatch for <%= activity.activityType %></p>
                    <%}%>
                    <form action="removeActivity" method="post">
                        <input type="hidden" name="ActivityToRemove" value=<%=activity._id%>>
                        <input type="hidden" name="DateForLog" id="DateForLog" value=<%= date%>>
                        <input type="submit" value="Remove Activity" class ="btn">
                    </form>
                </div>
            </td>
            <%}%>
            
        </tr>
    <%}%>
    <tr>
        <td>
            <form action="addAnotherActivity" method="post">
                <input type="hidden" name="CurrLogsId" value=<%= logsId %>>
                <input type="hidden" name="DateForLog" id="DateForLog" value=<%= date%>>
                <button class="btn">Add Another Activity</button>
            </form>
            <button class="btn">Save</button>
        </td>
    </tr>
    </table>
</div>
<div id="TryThese" class="container centerContainer">
    <div id="TryHeader" class="headerBar">
        <p>Based on what others are doing, try these!</p>
    </div>
    <div id="TryBody">
        <%- include("Partials/tryThese.ejs",activsList) -%>
    </div>
</div>
<%- include("Layouts/footer") -%>